[MESSAGES CONTROL]
max-line-length=1000
max-args=7
max-attributes=8
disable=W0141,superfluous-parens,multiple-statements,C0111,C0103,E1101,global-statement,bare-except

[TYPECHECK]
ignored-modules = numpy, numpy.random, tensorflow

[MISCELLANEOUS]
notes=XXX
