[MESSAGES CONTROL]
max-line-length=120
max-args=7
max-attributes=8
max-locals=17
disable=W0141,superfluous-parens,multiple-statements,C0111,C0103,E1101,logging-format-interpolation

[TYPECHECK]
ignored-modules = numpy, numpy.random, tensorflow

[MISCELLANEOUS]
notes=XXX
