name: ruff
on: [push, pull_request]

jobs:
  linters:
    name: Linters
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Run Ruff
        uses: astral-sh/ruff-action@v3
        with:
          version: latest
          src: ./numerapi
          args: check
